* {
    box-sizing: border-box;
}

.navbar-menu {
    background-color: lightskyblue;
}

.custom-ul {
    margin: 0;
    padding: 0;
}

.custom-ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
}

.custom-ul li:last-child {
    padding-right: 0;
}

.custom-ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.custom-ul li a:hover {
    color: sandybrown;
    text-shadow: 1px 1px lightgray;
    transition: 0.3s ease-in;
}
