* {
    box-sizing: border-box;
}

.sport-table {
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.sport-table th,.sport-table td {
   padding: 10px 15px;
}

.sport-table tr:first-child{
    background-color: darkcyan;
}

.bcg {
    background-color: lightslategray;
}